@import '../../scss/variables.scss';

.conditionalLabel{
  padding-top: 5px;
  justify-self: end;
  text-transform: uppercase;

  &.blue {
    color: $conditional-color-if;
  }
  &.pink {
    color: $conditional-color-then;
  }
  &.turquoise {
    color: $conditional-color-else;
  }
}