@import '../../scss/variables.scss';

.branchContainer {
  display: flex;
  margin-bottom: 25px;
  padding-top: 25px;
}

.closeBtnContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  .closeBtn {
    background-color: $main-bg;
    border: none;
    color: $main-font-color;
    font-size: 20px;
    font-weight: 400;
    font-family: math;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    &::after {
      cursor: auto;
      pointer-events: none;
      position: absolute;
      height: 100%;
      left: 48%;
      bottom: -30px;
      content: '';
      border-left: 2px dashed $main-font-color;
    }
    &:hover {
      opacity: .6;
    }
  }
}

.conditionalFieldset {
  display: flex;
  row-gap: 15px;
  flex: 1 0 auto;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  .conditionalBlock {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
  }
  .conditionalLabel{
    padding-top: 5px;
    justify-self: end;

    &.blue {
      color: $conditional-color-if;
    }
    &.pink {
      color: $conditional-color-then;
    }
    &.turquoise {
      color: $conditional-color-else;
    }
  }
}